Data Structures

In [7]:
import pandas as pd

1. Series (1D) - One-dimensional array-like object containing an array of data (of any NumPy data type) and an associated array of data labels called it's index. If index of data is not specified, then a default one consisting of the integers 0 through N-1 is created. You can think of a Series as a fixed-length, ordered dict. Series can be substituted into many functions that expect a dict.

In [13]:
series1 = pd.Series([1,2], index = ['a','b']) # create series
series1.values # get series values
series1['a'] # get values by index
series1[['b','a']] # get values by index
series1.index # get series index
series1.name # get name attribute

2. Dataframe (2D) - Tabular data structure with ordered collections of columns, each of which can be different value type. A dataframe can be thought of as a dict of series.

In [14]:
dict1 = {'state': ['Ohio', 'CA'], 'year': [2000, 2010]}
df1 = pd.DataFrame(dict1) # columns are placed in a sorted order
df1 = pd.DataFrame(dict1, index = ['row1', 'row2']) # specifying index
df1 = pd.DataFrame(dict1, columns = ['year', 'state']) # columns are placed in the given order

In [18]:
df1.columns # get column and row names
df1.columns.name # get name attribute

In [27]:
df1.values # returns the data as a 2D array, the dtype will be chosen to accomodate all columns
df1['state'] # or df1.state to get column as series
df1.iloc[1] # to get row as series
df1['eastern'] = df1.state == 'Ohio' # assigning a column that doesn't exist will create a new column
del df1['eastern'] # delete a column
df1.T # switch columns and rows
# Note data returns is a view on the underlying data not a copy. Any inplace modifications will be relfected in the df1 df.

          0     1
year   2000  2010
state  Ohio    CA

3. Reading & Writing Data

In [ ]:
df = pd.read_csv('file.csv') # Read a csv file into a DataFrame called df
df.to_csv('file.csv') # Write a DataFrame to a csv file.
pd.read_excel('file.xlsx') # Read an Excel file into a DataFrame
df.to_excel('file.xlsx') # Write a DataFrame to an Excel file

# JSON (Javascript Object Notation) Data - One of the standard formats for sending data by http request between web browsers and other applications with a much more flexible data format than tabular text e.g. csv
data = json.load(jsonObj) # Convert JSON string to Python form
asJson = json.dumps(data) # Covert Python object to JSON
df1 = pf.DataFrame(data['name'], columns = ['field1']) # CreateDF from JSON

# XML and HTML Data
doc = lxml.html.parse('html file path').getroot()
lxml.objectify.parse(open('xml file path')).getroot()

4. Data Inspection

In [ ]:
df.head() # Displays the first 5 rows of a DataFrame
df.tail() # Displays the last 5 rows of a DataFrame
df.info() # Displays information about a DataFrame including data types and memory usage
df.describe() # Display summary statistics of numerical columns in a DataFrame

5. Data Selection

In [ ]:
df['col1'] # Select a single column by name as a series
df[['col1', 'col2']] # Select multiple columns by name as a DataFrame
df.loc['row', 'col'] # Select a single value by row and column label
df.iloc['row', 'col'] # Select a single value by row and column index

6. Data Manipulation

In [ ]:
df['new_col'] = value # adds a new column to a DataFrame
df.drop('col', axis=1, inplace=True) # removes a column from a DataFrame axis=1 refers to the column axis and inplace=true commits the changes to the existing df definition.
df.drop('row', axis=0, inplace=True) # removes a row from a DataFrame axis=0 refers to the row axis and inplace=True commits the changes to the existing df definition.
df.sort_values(by=col, ascending=True) # sorts a DataFrame by a given column.

7. Grouping & Aggregation

In [ ]:
df.groupby('col').sum() # Group a DataFrame by a column and compute the sum of each group
df.groupby('col').median() # Group a DataFrame by a column and compute the median of each group
df.groupby('col').max() # Group a DataFrame by a column and compute the maximum of each group
df.groupby('col').first() # Group a DataFrame by a column and return the first row for each group
df.groypby('col').size() # Group a DataFrame by a column and return the size of each group
df.groupby('col').agg(func) # Group a DataFrame by a column and apply a specific aggregation function to each group

8. Missing Data

In [ ]:
# In standard Python NaN - np.nan (not a number). In Pandas NaN or python None mean missing or NA values
pd.isnull()
pd.notnull()
df.isnull()
# These can all be used to detect missing values

In [ ]:
# Filtering out missing data
df.dropna() # drops any row containing missing value
df.dropna(axis=1) # drop any column containing missing values
df.dropna(thresh = 3) # drop any row containing < 3 number of observations

#Filling in missing data
df.fillna(0) # fill all missing data with 0
df.fillna('inplace=True') # modify in-place
df.fillna({'col1' : 0, 'col2' : -1}) # use different fill for each column

9. Transformation

In [ ]:
Agg() is a specical kind of transformation where data is reduced from a one dimensional array to a scalar
Transform() applies a function to each group, if it produces a scalar value the value will be placed in every row. The passed function must either produce a scalar value or a transformed array of the same size.
Apply() is used for general purpose transformations.
df.groupby('col1').apply(func) # where the function returns a a pandas object or a scalar

10. Data Wrangling: Merge, Reshape, Clean, Transform

In [ ]:
pd.merge() is similar to a database join connecting rows in DataFrames based on one or more keys
d3f.pd.merge(df1, df2, on = 'col2', how = 'inner', 'outer', 'left', 'right')

In [ ]:
df2 = df1.pivot('date', 'stock_name', 'price') # pivots data columns to generate a 'wide' format
df2 = df1.drop_duplicates() # Duplicates are dropped in df2
df1['new_col'] = df1['col2'].map('dict1') # maps col2 values as dict1's key getting dict1 values
df1['new_col'] = df1['col2'].map(func) # applies a function to each of col2's values
df2 = df1.replace(np.nan, 100) # replace nan values with 100, replace is not in-place